@{
    ViewBag.PageTitle = "Home Page";
}

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="~/img/01.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">johnsmith</p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="~/img/02.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">johnsmith</p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="~/img/20.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">johnsmith</p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="~/img/19.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">johnsmith</p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>
