.card {
  width: 300px;
  height: 400px;
  margin: 5px 0px 5px 10px;
  border: 1px solid black;
  padding: 2px;
  display: inline-block;
  background-color: whitesmoke;
}

.card:hover {
  border: 1px solid whitesmoke;
  background-color: goldenrod;
}

.card-image {
  border: 1px inset black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.navbar {
  margin: 5px;
}

.box {
  width: 400px;
  margin: 20px;
}

.input-validation-error {
  border: 1px solid red;
}

.small-box {
  width: 350px;
  margin: 0px;
  display: inline-block;
  word-wrap: break-word;
}

.small-box-success {
  border: 1px solid green;
}

.small-box-fail {
  border: 1px solid red;
}
